{
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "presets": [
        [
            "@babel/preset-env"
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "dynamic-import-node"
            ]
        }
    }
}
